
/* input [type="radio"]{
    display: none;
} */
/* nput[type="radio"][name="rating"]:checked{
    visibility:hidden;
    display: none;
} */
input[type="radio"]:checked {
    display: none;
}
.star {
    cursor: pointer;
    transition : color 200ms;
    
}
  